@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;500&display=swap');

html,
body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Encode Sans SC', sans-serif;
}

body {
  background-color: #E4EFE7;
}

.game-brand {
    height: 4rem;
    width: auto;
    background-color: #f8f9fa;
}

#rules-modal {
    color: black;
}

/* --------------------------------LANDING PAGE */
.bg-blue {
   background-color: #3cb7ff; 
}
#game-navigation-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

#game-navigation,
#game-section {
    flex: 1;
}

/* Contribution from W3 Schools to vertically center elements in a container. 
Link - https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.list-container {
    min-height: 80vh;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Contribution from W3 schools ended */


#home-footer {
    background-color: #E4EFE7;
}

.list-item {
    font-size: 4.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.list-link {
    text-decoration: none;
    color: black;
}

.list-link:hover {
    color: #9BA4B4;
}

@media screen and (max-width: 320px) {
    .game-buttons {
        padding-left: 0;
        padding-right: 0;
    }
}    
/* --------------------------------GAME PAGE */
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

.game-buttons {
    font-size: 4.5rem;
    color: black;
}

h1 {
    font-size: 3.5rem;
}

#game-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

/* Contribution from W3 Schools to vertically center elements in a container. 
Link - https://www.w3schools.com/howto/howto_css_center-vertical.asp */

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Contribution from W3 schools ended */

.start-button,
.restart-button {
    background-color: #39b7ff;
    border-color: #39b7ff;
    color: white;
}

.start-button:hover,
.restart-button:hover {
    background-color: #3292ca;
    color: white;
    border-color: #3292ca;
}
/* --------------------------------FOOTER */

#game-footer {
    background-color: #E4EFE7;
}

.social-link {
    font-size: 2rem;
    /* color: #39b7ff; */
    color: black;
}

.social-link:hover {
    /* color: #3292ca; */
    color: grey;
}

/* MODALS */
.btn-color {
    background-color: #39b7ff;
    border-color: #39b7ff;
    color: white;
}

.btn-color:hover {
    background-color: #3292ca;
    color: white;
    border-color: #3292ca;
}