html,
body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  background-color: #00416D;
}

h1 {
    font-size: 5rem;
}

.game-brand {
    height: 4rem;
    width: auto;
}

#rules-modal {
    color: black;
}

/* --------------------------------LANDING PAGE */
#game-navigation-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

#game-navigation,
#game-section {
    flex: 1;
}

/* Contribution from W3 Schools to vertically center elements in a container. 
Link - https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.nav-container {
    min-height: 90vh;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Contribution from W3 schools ended */


#home-footer {
    background-color: #f8f9fa;
}

.list-item {
    font-size: 4.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.list-link {
    text-decoration: none;
    color: #f8f9fa;
}

.list-link:hover {
    color: #9BA4B4;
}
/* --------------------------------GAME PAGE */
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
.game-buttons {
    font-size: 4.5rem;
    color: white;
}

#game-page {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding-left: 0;
    padding-right: 0;
}

/* Contribution from W3 Schools to vertically center elements in a container. 
Link - https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.game-container {
    min-height: 90vh;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Contribution from W3 schools ended */

.start-button {
    /* background-color: #212529; */
    background-color: white;
    color: #00416D;
    border-color: white;
}

.start-button:hover {
    background-color: #1d79af;
    border-color: #1d79af;
    color: white;
}
/* --------------------------------FOOTER */

#game-footer {
    background-color: #f8f9fa;
}

.social-link {
    font-size: 2rem;
    color: #336888;
}

.social-link:hover {
    color: #1d79af;
}