body {
  background-color: black;
  color: white;
  margin: 0;
}

h1 {
    font-size: 5rem;
    margin-top: 5rem;
}

ul {
    list-style-type: none;
}

.list-item {
    font-size: 4.5rem;
    margin-top: 5.5rem;
}

.list-link {
    text-decoration: none;
    color: white;
}
/* --------------------------------GAME PAGE */

#game-section {
    min-height: 550px;
}
.game-buttons {
    font-size: 4.5rem;
    color: white;
}


/* --------------------------------FOOTER */

footer {
    height: 4rem;
}
.social-link {
    font-size: 2rem;
    padding-bottom: 4rem;
}