html,
body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  background-color: black;
  color: white;
}

h1 {
    font-size: 5rem;
}

.game-brand {
    height: 4rem;
    width: auto;
}

/* --------------------------------LANDING PAGE */
#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
}

#game-navigation,
#game-section {
    flex: 1;
}

.list-item {
    font-size: 4.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.list-link {
    text-decoration: none;
    color: white;
}
/* --------------------------------GAME PAGE */
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
.game-buttons {
    font-size: 4.5rem;
    color: white;
}

#game-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
}
/* --------------------------------FOOTER */

#footer {
    background-color: #f8f9fa;
}

.social-link {
    font-size: 2rem;
    color: #336888
}

.social-link:hover {
    color: #1d79af;
}