body {
  background-color: black;
  color: white;
  margin: 0;
}

.game-section,
.game-navigation {
  background-image: url("images/background/space-theme.jpg"); /* The image used */
  background-color: black; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

h1 {
    font-size: 5rem;
}

/* --------------------------------LANDING PAGE */
.game-navigation {
    height: 85vh;
}

ul {
    list-style-type: none;
}

.list-item {
    font-size: 4.5rem;
    margin-top: 5.5rem;
}

.list-link {
    text-decoration: none;
    color: white;
}
/* --------------------------------GAME PAGE */

/* .game-section {
    min-height: 550px;
} */
.game-buttons {
    font-size: 4.5rem;
    color: white;
}


/* --------------------------------FOOTER */
footer {
    padding-top: 1.5rem;
    height: 10vh;
    position: relative;
    bottom: 0;
}
.social-link {
    font-size: 2rem;
    padding-bottom: 4rem;
}